<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron" style='margin-inline: 400px;'>

        <h1>Recipes</h1>
        <p>A recipe is a story with a happy ending - Unknown</p>
        <p><a href="/recipes/all">View All Recipes</a></p>
        <p><a href="/destroy">Logout</a></p>
    </div>
    <div style='margin-inline: 400px;'>
        <h6>Create a Recipe</h6>
    <br>
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <p>{{message}}</p>
            {% endfor %} 
        {% endif %}
        {% endwith %}
    </div>
    
    <form action="/recipes/create" method='POST' style='margin-inline: 400px;'>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="form-control" name="instructions"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <br>
</body>
</html>